<%# protection to ensure only teachers can access this page %>
<% if current_user.role_id == 3 %>
  <div class="flex flex-col w-full h-full">
    <%= form_with url: admin_dashboard_renting_path, method: :get, data: { turbo_frame: "rentings_table", turbo_action: "advance" } do |f| %>
      
      <%= f.text_field :query,
          placeholder: "Search by name or item...",
          class: "mb-4 p-2 border rounded w-1/2",
          data: {
            controller: "search",
            action: "input->search#search"
          } %>

    <% end %>

    <%= turbo_frame_tag "rentings_table" do %>
      <%= render partial: "rentings_table",
                locals: {
                  rentings: @rentings,
                  sort_field: params[:sort],
                  sort_direction: params[:direction],
                  pagy: @pagy
                } %>
    <% end %>
  </div>

<% else %>

<h1 class="font-bold text-4xl">You are not authorized to view this page</h1>

<% end %>

