
<div class="grid grid-flow-row">

<%= image_tag "capping.png" %>

<h2> Welcome to CapScrap </h2>

<p> This is a sample app to demonstrate how to use Heroku to deploy a Rails app. </p>

<p> This should be development! aka dev <span class="text-orange-400">Now with tailwind!</span> </p>

<%# navigate to new examples page %>
<%= link_to "goto examples", examples_path, class: "bg-red-400 rounded-md" %> 
</div>