<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= item.category_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= item.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= item.location %>
  </p>
</div>
