<% if current_user&.role_id == 2 %>
  <div class="flex flex-col w-full h-full">
    <%# Search Section %>
    <div class="mb-6 w-full">
      <h2 class="text-lg font-semibold mb-2 text-text text-content" data-font-size="18">Search Items</h2>
      <%= form_with url: ta_dashboard_items_path, method: :get, data: { turbo_frame: "items_table", turbo_action: "advance" } do |f| %>
        <%= f.text_field :query,
            placeholder: "Search by description, location or category...",
            class: "p-2 border rounded w-full md:w-1/2 text-content",
            "data-font-size": { font_size: 16 },
            data: {
              controller: "search",
              action: "input->search#search"
            } %>
      <% end %>
    </div>

    <%# Items Table Section %>
    <div class="w-full">
      <h2 class="text-lg font-semibold mb-4 text-text text-content" data-font-size="18">Item List</h2>
      <%= turbo_frame_tag "items_table" do %>
        <%= render partial: "items_table",
                  locals: {
                    items: @items,
                    categories: @categories,
                    sort_field: params[:sort],
                    sort_direction: params[:direction],
                    pagy: @pagy
                  } %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1 class="font-bold text-4xl text-content" data-font-size="36">You are not authorized to view this page</h1>
<% end %>